.button{
  background: none;
  border:2px solid white;
  color: white;
  font-variant: small-caps;
  font-size: 20px;
  font-weight: bold;
  border-radius:5px; 
}

.container {
  max-width: 100%;
  margin: 0px;
  padding: 100px;
}

.container-item {
  margin: 0px;
}

.container-image {
  text-align: center;
}

.aboutImage {
  max-width: 280px;
  box-shadow: 10px 5px 10px #d2d2d2c9;
  margin: auto;
}

.container-item ul {
  list-style: none;
  padding-left: 0px;
}

.container-item ul li::before {
  content: "\2605	";
  color: #46c9e0;
  font-weight: bold;
  display: inline-block;
  margin: 0px 8px;
  font-size: 20px;
}

.container-item li {
  margin-bottom: 10px;
  color: gray;
}

.ribbon {
  text-align: center;
  padding: 40px;
  background-color: #ff788b;
  color: white;
  text-transform: uppercase;
  font-size: 36px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}

.imageRibbon {
  margin-top: 20px;
  padding: 30px;
  background-size: cover;
  background-image: url("../images/image2.jpg");
  opacity: 0.8;
}

.imageRibbon h1 {
  color: rgb(56, 12, 12);
  text-align: center;
  padding-top: 60px;
  text-shadow: 5px 5px 10px #ff788b;
  font-size: 72px;
  font-family: "Bookman";
  font-weight: 700;
}

.buttonGroup {
  text-align: center;
}

.buttonGroup button {
  padding: 10px 20px 10px 20px;
  margin: 10px;
  background-color: #ff788b;
  border: none;
  color: white;
  font-variant: small-caps;
  font-size: 24px;
  border-radius: 5px;
}

.footer{
    background-color:#000000e3;
    color:#a9a9a9;
    padding: 40px;
    min-height: 88vh;
    overflow: hidden;
}

.footer-item{
border-right:0.5px solid #a9a9a9;
padding: 30px;
font-size: 18px;

}

.footer-item h2{
  font-variant: small-caps;
  color: white;
}

.services-list ul{
list-style-type: square;
padding: 5px;
}

.contact ul{
  list-style-type: none;
  padding: 5px;
}

.contact i{
  margin-right: 10px;
}

.footer-item li{
  margin-bottom: 15px;
}

.footer-form{
  color: #a9a9a9;
 
}

.footer-form input{
  border: none;
  padding: 5px; 
  margin-bottom: 10px;
}

.category-row{
  width: 90%;
  margin:10px auto !important;

}

.category-item{
  display: block;
  width: 90%;
  margin-bottom: 20px !important;
}

.category-item h2{
  margin: 0px 0px 50px;
  padding: 0px;
  text-transform: capitalize;
  font-weight: bolder;
  color:#444444;
  font-family: 'Trebuchet MS';
  float: left;
}

.category-item img{
  width: 100%;
  height: 220px;
  margin-bottom: 20px;
  border-radius: 0px 50px 0px 0px;
}

.category-item Button{
  float: right;
}

 .main-heading{
  text-align: center;
  margin: 10px;
  padding: 20px;
  text-transform: uppercase;
  font-size: 45px;
  color:#c5ac76;
}

 .services-row{
   justify-content: center;
 }

 .service-block{
  width:100%;
  margin: auto;
  margin-bottom: 20px;
 }

 .service-item{
  height: 320px;
  margin: 20px;
  padding: 0px !important;
 }

 .service-item img{
  width: 100%;
  height: 100%;
  justify-self: center;
 }

 .service-info{
   border: 2px solid #efefef;
  background-color: rgb(252, 252, 252);
  padding: 60px !important;
  width: 100%;
  color:#444444;
 }

 .service-info h2{
  margin-bottom: 20px;
  padding: 0px;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: 'Trebuchet MS';
}

.service-info p{
  margin-right: 50px;
}

.service-info button{
  background-color: transparent;
  border: 2px solid #444444;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 20px;
  width: 150px;
}

.service-info button:hover{
  color:gray;
}

.photography-section{
  display: flex;
  height: 100vh;
  border-bottom:0.5px solid#77777747;
}

.photography-section .header-image{
  flex: 3;
  width:100%;
  overflow: hidden;
}

.photography-section .header-text{
  flex: 2;
  position: relative;
  left: -100px;
  height: 65%;
  margin: auto;
  border-radius: 30px 0px 0px 0px;
  background-color: white;
  padding: 40px;
}

.header-text h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 4vw;
    line-height: 60px;
    font-weight: 900;
    letter-spacing: -0.02em;
 
}

.header-text button{
  background-color: black;
  color: white;
  border: none;
  width: 280px;
  padding: 15px;
  font-size: 18px;
  margin-top:10px;
}

.header-image img{
  width: 100%;
  height: 100%;
}

.categories-grid{
  justify-content: center;
}

.category-item {
  padding: 0px !important;
  margin: auto !important;
}

.package-item {
  padding: 0px !important;
  margin: auto !important;
  text-align: center;
  border: 2px solid #efefef;
  height: 300px;
}

.package-name{
  padding: 10px;
  background-image: url('../images/photography/vector.jpg');
  color: white;
  font-size:20px;
}

.package-price{
  display: inline-block;
  font-size: 15px !important; 
  width: 100%;
  padding: 10px;
  border-bottom:1px solid #efefef;
  font-size: 30px !important; 
  color:#e66cc6;
}

.package-price span{
  font-size:40px;
  color:#e66cc6;
  font-weight: bolder;
  
}

.package-price h3{
  margin: 10px;
}

.package-button{
  width: 100%;
  background-color: #e66cc6;
  border:none;
  padding: 10px;
  color:white;
  font-weight: 700;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.package-inclusions{
  margin-top: 10px;
  list-style: none;
  padding: 5px;
  color: #444444;
  line-height: ;
}